# dependencies
node_modules

# environment variables file
.env

# logs
logs

# docker
Dockerfile
docker-compose.yml
.dockerignore

# git
.git
.gitignore

# ide
.vscode
.idea

# os
.DS_Store

# husky
.husky
